<!-- src/app/productos/productos.html -->
<button type="button" class="btn btn-link add-button" (click)="openAddModal()">
  {{ "buttons.add-new" | transloco }}
</button>
<br>
<br>

<table class="table table-striped diseñoTabla">
  <thead>
    <tr>
      <th scope="col">{{ "productos.name" | transloco }}</th>
      <th scope="col">{{ "productos.precio" | transloco }}</th>
      <th scope="col">{{ "productos.existencia" | transloco }}</th>
      <th scope="col">{{ "productos.codigo-barras" | transloco }}</th>
      <th scope="col">{{ "productos.categoria" | transloco }}</th>
      <th scope="col">{{ "views.unidad-medida" | transloco }}</th>
      <th scope="col">{{ "productos.estado" | transloco }}</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of productos">
      <td>{{ p.nombre }}</td>
      <td>{{ p.precio }}</td>
      <td>{{ p.existencia }}</td>
      <td>{{ p.codigoBarras }}</td>
      <td>{{ p.categoria?.nombre }}</td>
      <td>
        <ng-container *ngIf="p.idUnidadMedida">
          {{ p.idUnidadMedida.nombre }} ({{ p.idUnidadMedida.abreviatura }})
        </ng-container>
      </td>
      <td>
        {{ p.estado ? ('labels.activo' | transloco) : ('labels.inactivo' | transloco) }}
      </td>
      <td>
        <button type="button" class="btn btn-link edit-button" (click)="openEditModal(p)">
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="num-records">
  {{ productos.length }} {{ "labels.num-records" | transloco }}
</div>

<!-- Modal de producto -->
<app-producto-modal
  [showModal]="showModal"
  [modalTitle]="modalTitle"
  [data]="producto"
  [categorias]="categorias"
  [unidadesMedida]="unidadesMedida"
  (closeModalEvent)="closeModal()"
  (saveEvent)="saveEvent($event)">
</app-producto-modal>

<!-- Mensajes -->
<app-message
  [showModal]="showModalMessage"
  [messageTitle]="modalTitleMessage"
  [messageBody]="messageBody"
  (aceptar)="closeMessageModal($event)"
  [uri]="uri">
</app-message>